*{
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px 200px;
}
img{
    width: 100%;
    height: 500px;
    padding: 30px;
}
.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
margin-right: 200px;


}
h5{
margin: auto;
margin-bottom: 20px;
text-decoration: underline red;
}
h1{
    margin: auto;
    margin-bottom: 20px;
}
.simple-para{
    margin: auto;
    margin-bottom: 20px;
}
.para{
margin-bottom: 20px;
}
a{
text-decoration: none;
color: brown ;
}